body {
    font-family: sans-serif;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  
  .container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  button {
    padding: 10px;
    margin-left: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
  }
  
  li.checked {
    text-decoration: line-through;
    color: #aaa;
  }


#refreshList {
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #86abdd; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  max-height: 3rem
}

#refreshList:hover {
  background-color: #7b9ee9;
}


